<mat-toolbar>
  <span class="p-1">Mateusz Orlicki<br/>Gym & Fitness</span>
  <button mat-button [routerLink]="'/trainer-team'"> Kadra trenerska </button>
  <button *ngIf="!(user$ | async).roles.includes(Roles.TRAINER)" mat-button [routerLink]="'/personal-trainings'"> Treningi personalne </button>
  <button *ngIf="(user$ | async).roles.includes(Roles.TRAINER)" mat-button [routerLink]="'/personal-trainings-trainer'"> Treningi personalne </button>
  <button mat-button [routerLink]="'/training-courses'"> Zajęcia grupowe </button>
  <button mat-button [routerLink]="'/timetable'">Twój grafik zajęć </button>
  <button mat-button [routerLink]="'/price-list'"> Cennik </button>
  <button mat-button [routerLink]="'/contact'"> Kontakt </button>
  <span class="fill-remaining-space"></span>
  <button mat-button *ngIf="(isLoggedIn$ | async) === true && (user$ | async) as user" [routerLink]="'/profile'" class="user">
    <div class="user__data">
      <img *ngIf="user.photoURL" [src]="user.photoURL" alt="" class="user__image">
      <div class="user__info">
          <span class="user__info--fullname">{{user.displayName}}</span>
      </div>
    </div>
  </button>
</mat-toolbar>