

.user {
    display: flex;
    flex-direction: column;
    &__data {
        display: flex;
    }
    &__info {
        display: flex;
        flex-direction: column;
        &--fullname {
            font-size: 14px;
            font-weight: bold;
        }
        &--email {
            font-size: 12px;
        }
    }
    &__image {
        width: 24px;
        height:24px;
        margin: 4px;
        border-radius: 50%;
    }
    &__actions {
        align-self: flex-end;
    }
}

.nav-item {
    cursor: pointer;
}