<mat-tab-group>
    <mat-tab label="Grafik zajęć grupowych">
        <app-group-trainings-timetable></app-group-trainings-timetable>
    </mat-tab>
    <mat-tab label="Administratorzy">
        <h2 class="tab-title">W tej sekcji możesz dodawać administratorów serwisu.</h2>
        <div class="section d-flex justify-content-around">
            <div class="d-flex flex-column w-100">
                <span>
                    Wszyscy użytkownicy
                </span>
                <mat-list #shoes *ngIf="(noAdminUsers$ | async) as noAdminUsers" >
                    <mat-list-item *ngFor="let user of noAdminUsers">
                        <img [src]="user.photoURL"> {{user.displayName}}
                        <span class="fill-remaining-space"></span>
                        <button mat-raised-button color="primary" (click)="addRole(user, Roles.ADMIN)">
                            Dodaj
                            </button>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="d-flex flex-column w-100">
                <span>
                    Administratorzy
                </span>
                <mat-list #shoes  *ngIf="(adminUsers$ | async) as adminUsers" >
                    <mat-list-item *ngFor="let user of adminUsers">
                        <img [src]="user.photoURL"> {{user.displayName}}
                        <span class="fill-remaining-space"></span>
                        <button mat-raised-button color="warn" (click)="adminUsers.length === 1? {} : removeRole(user, Roles.ADMIN)">
                            Usuń
                        </button>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-tab>
        <mat-tab label="Kadra trenerska">
        <h2 class="tab-title">W tej sekcji możesz dodawać trenerów.</h2>
        <div class="section d-flex justify-content-around">
            <div class="d-flex flex-column w-100">
                <span>
                    Wszyscy użytkownicy
                </span>                
                <mat-list  *ngIf="(noTrainerUsers$ | async) as noTrainerUsers">
                    <mat-list-item *ngFor="let user of noTrainerUsers">
                        <img [src]="user.photoURL"> {{user.displayName}}
                        <span class="fill-remaining-space"></span>
                        <button mat-raised-button color="primary" (click)="switchRole(user,[Roles.TRAINER],[Roles.USER])">
                            Dodaj
                            </button>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="d-flex flex-column w-100">
                <span>
                    Trenerzy
                </span>
                <mat-list *ngIf="(trainerUsers$ | async) as trainerUsers">
                    <mat-list-item *ngFor="let user of trainerUsers">
                        <img [src]="user.photoURL"> {{user.displayName}}
                        <span class="fill-remaining-space"></span>
                        <button mat-raised-button color="warn" (click)="switchRole(user,[Roles.USER],[Roles.TRAINER])">
                            Usuń
                        </button>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Sale">
        <app-training-room></app-training-room>
    </mat-tab>
    <mat-tab label="Zajęcia grupowe">
        <app-group-trainings></app-group-trainings>
    </mat-tab>
    <mat-tab label="Cennik">
        <app-price-list></app-price-list>
    </mat-tab>

</mat-tab-group>