<div class="card">
    <div class="card-body">
        <h3>
            Administratorzy
        </h3>
        <span>W tej sekcji możesz dodawać administratorów serwisu.</span>
        <div class="section d-flex justify-content-around">
            <div class="d-flex flex-column w-100">
                <span>
                    Wszyscy użytkownicy
                </span>
                <ul *ngIf="(noAdminUsers$ | async) as noAdminUsers" class="list-group">
                    <li *ngFor="let user of noAdminUsers" (click)="addRole(user, Roles.ADMIN)" class="list-group-item">
                        <img [src]="user.photoURL"> {{user.displayName}}
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column w-100">
                <span>
                    Administratorzy
                </span>
                <ul *ngIf="(adminUsers$ | async) as adminUsers" class="list-group">
                    <li *ngFor="let user of adminUsers" (click)="adminUsers.length === 1? {} : removeRole(user, Roles.ADMIN)" class="list-group-item">
                        <img [src]="user.photoURL"> {{user.displayName}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>
            Kadra trenerska
        </h3>
        <span>W tej sekcji możesz dodawać trenerów.</span>
        <div class="section d-flex justify-content-around">
            <div class="d-flex flex-column w-100">
                <span>
                    Wszyscy użytkownicy
                </span>
                <ul *ngIf="(noTrainerUsers$ | async) as noTrainerUsers" class="list-group">
                    <li *ngFor="let user of noTrainerUsers" (click)="addRole(user, Roles.TRAINER)" class="list-group-item">
                        <img [src]="user.photoURL"> {{user.displayName}}
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column w-100">
                <span>
                    Trenerzy
                </span>
                <ul *ngIf="(trainerUsers$ | async) as trainerUsers" class="list-group">
                    <li *ngFor="let user of trainerUsers" (click)="removeRole(user, Roles.TRAINER)" class="list-group-item">
                        <img [src]="user.photoURL"> {{user.displayName}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
