<div class="jumbotron">
    <app-single-trainer [trainer]="trainer$ | async"></app-single-trainer>
    <hr class="my-4">
    <div class="card">
        <div class="card-body">
            <h3>O mnie
            </h3>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nihil quaerat earum ab velit ducimus non aut dolorum tempora eius, ratione aperiam animi necessitatibus. Inventore dignissimos magni amet molestias nesciunt.
            </span>
        </div>
    </div>
</div>