<div class="container">
  <app-header></app-header>
  <div class="d-flex">
    <div class="honored-cards d-flex flex-column">
      <h4>Honorujemy karty: </h4>
      <div class="card d-flex align-items-center justify-content-center" [style.background-color]="'#B6B6B6'">
        <div class="d-flex flex-column align-items-end ">
          <span class="big">
            MultiSport
          </span>
          <span class="small red">
            plus
          </span>
        </div>
      </div>
      <div class="card d-flex align-items-center justify-content-center" [style.background-color]="'#B6B6B6'">
        <div class="d-flex flex-column align-items-end">
          <span class="big">
            MultiSport
          </span>
          <span class="small red">
            classic
          </span>
        </div>
      </div>
      <div class="card d-flex align-items-center justify-content-center"  [style.background-color]="'#d4a017'">
        <span class="big">
          MultiActive
        </span>
      </div>
      <div class="card d-flex align-items-center justify-content-center" [style.background-color]="'#151b8d'">
        <span class="big">
          FitProfit
        </span>
      </div>
    </div>
    <div class="content container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>