<div class="modal">
  <mat-card style="width:600px;">
    <mat-card-header class="d-flex flex-column">
      <div class="d-flex justify-content-between">
        <h1 >{{pass? 'Edytuj' : 'Dodaj'}} karnet</h1>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="content">
        <form [formGroup]="passForm">
            <div class="form-group row">
              <label for="name" class="col-4 col-form-label">Nazwa karnetu: </label>
              <div class="col-8">
                <input type="text" class="form-control" id="name" formControlName="name">
              </div>
            </div>
            <div class="form-group row">
                <label for="priceNormal" class="col-4 col-form-label">Cena normalna: </label>
                <div class="col-8">
                  <input type="number" class="form-control" id="priceNormal" formControlName="priceNormal">
                </div>
            </div>
            <div class="form-group row">
                <label for="priceDiscount" class="col-4 col-form-label">Cena student/senior: </label>
                <div class="col-8">
                  <input type="number" class="form-control" id="priceDiscount" formControlName="priceDiscount">
                </div>
            </div>
            <div class="form-group row">
                <label for="validityNumber" class="col-4 col-form-label">Ilość: </label>
                <div class="col-8">
                  <input type="number" class="form-control" id="validityNumber" formControlName="validityNumber">
                </div>
            </div>
            <div class="form-group row">
                <label for="passType" class="col-4 col-form-label">Typ karnetu: </label>
                <div class="col-8">
                  <mat-radio-group class="radio-group" formControlName="passType">
                    <mat-radio-button class="radio-button" [value]="1">
                      Zajęcia grupowe
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" [value]="2">
                      Trening personalny
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" [value]="3">
                      Siłownia
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
            </div>
          </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex justify-content-between">
        <button mat-button (click)="close()">
            Anuluj
        </button>
        <button mat-raised-button color="primary" (click)="savePass()">
            Zapisz
        </button>
    </div>
    </mat-card-actions>
  </mat-card>
  </div>