<div class="contact">
    <mat-card>
        <mat-card-content>
            <div class="data">
                <div class="d-flex align-items-center my-4 contact-text">
                    <mat-icon class="mr-3">fitness_center</mat-icon>
                    Mateusz Orlicki - Gym & Fitness
                </div>
                <div class="d-flex align-items-center my-4 contact-text">
                    <mat-icon class="mr-3">location_on</mat-icon>
                    Olsztyn, Pakerska 11
                </div>
                <div class="d-flex align-items-center my-4 contact-text">
                    <mat-icon class="mr-3">date_range</mat-icon>
                    Pon - So, 6:00 - 21:00
                </div>
                <div class="d-flex align-items-center my-4 contact-text">
                    <mat-icon class="mr-3">phone</mat-icon>
                    +48 555-555-555
                </div>
                <div class="d-flex align-items-center my-4 contact-text">
                    <mat-icon class="mr-3">email</mat-icon>
                    recepcja@matorlgymfit.pl
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
