<div class="jumbotron">
  <ng-container>
    <app-need-login *ngIf="(isLoggedIn$ | async) === false"></app-need-login>
  </ng-container>
  <mat-card class="my-2">
    <mat-card-header class="d-flex flex-column">
      <h1>Cennik karnetów</h1>
    </mat-card-header>
    <mat-card-content>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Nazwa karnetu</th>
            <th scope="col">Normalny</th>
            <th scope="col" >Studencki/Senior</th>
            <th scope="col" class="d-flex justify-content-end align-items-end" *ngIf="shouldBuyPass || isAdmin">Akcje <button *ngIf="isAdmin" (click)="editPass()"  mat-icon-button color="accent"><mat-icon>add_circle_outline</mat-icon></button></th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
          <tr  *ngFor="let pass of allPasses$ | async" cdkDrag>
            <td [innerHTML]="pass.name"></td>
            <td>{{pass.priceNormal}},00zł</td>
            <td>{{pass.priceDiscount}},00zł</td>
            <td *ngIf="shouldBuyPass" class="d-flex justify-content-end"><button mat-icon-button color="primary" (click)="buyPass(pass)"><mat-icon>shopping_cart</mat-icon></button></td>
            <td *ngIf="isAdmin" class="d-flex justify-content-end">
              <button mat-icon-button color="primary" (click)="editPass(pass)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="openDeleteModal(pass)"><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<app-buy-pass-modal *ngIf="passModalOpened" [pass]="selectedPass" (onClose)="closeModal()"></app-buy-pass-modal>
<app-add-edit-pass-modal *ngIf="addEditPassModalOpened" [pass]="selectedPass" (onClose)="closeModal()"></app-add-edit-pass-modal>
<div *ngIf="deleteConfirmModalOpened" class="modal">
  <mat-card style="width: 600px;">
    <mat-card-header class="d-flex flex-column">
      <div class="d-flex justify-content-between">
        <h2 >Usuń karnet</h2>
        <button mat-icon-button (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex justify-content-center align-items-center">
        <h3>Czy na pewno chcesz usunąć karnet?</h3>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex justify-content-between">
        <button mat-button (click)="closeModal()">
            Anuluj
        </button>
        <button mat-raised-button color="warn" (click)="deletePass(selectedPass)">
            Usuń
        </button>
    </div>
    </mat-card-actions>
  </mat-card>
</div>